@font-face {
    font-family: 'Organetto_0';
    src:    local('Organetto_0'), 
            url('./assets/font/Demo_Fonts/Fontspring-DEMO-organetto-regular.otf');
}

@font-face {
    font-family: 'Organetto_1';
    src:    local('Organetto_1'), 
            url('./assets/font/Organetto/Organetto-Regular.ttf');
}